@import "./tailwind.css";
@import "./font.css";



.form {
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 13%);
  background: rgb(255, 255, 255);
}

.upload_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.upload_avatar {
  border-radius: 50%;
  max-width: 100%;
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

